body {
  font-family: "merriweather", serif;

  font-size: 18px;

  left: 0;
  top: 0;

  overflow-x: hidden;
}

.font-petemoss {
  font-family: "petemoss";
}

.font-corinthia {
  font-family: "corinthia";
}

.btn-outline-white {
  /* background-color: transparent; */
  border: 2px solid #f8f9fa;
  color: #f8f9fa;
  font-weight: bold;
  border-radius: 25px;
  padding: 10px 6px;
}

.btn-outline-white:hover {
  color: #fff;
  background-color: #986955;
  border-color: #775141;
}

.btn-outline-white:focus {
  box-shadow: 0 0 0 0.25rem rgba(221, 221, 221, 0.5);
}

.btn-outline-brown {
  /* background-color: transparent; */
  border: 2px solid #986955;
  color: #986955;
  font-weight: bold;
  border-radius: 25px;
  padding: 10px 6px;
}

.btn-outline-brown:hover {
  color: #fff;
  background-color: #986955;
  border-color: #775141;
}

.btn-outline-brown:focus {
  box-shadow: 0 0 0 0.25rem rgba(221, 221, 221, 0.5);
}

.btn-brown {
  background-color: #986955;
  border: 2px solid #986955;
  color: #fff;
  font-weight: bold;
  border-radius: 25px;
  padding: 10px 6px;
}

.btn-brown:hover {
  color: #986955;
  background-color: #fff;
  border-color: #986955;
}

.btn-brown:focus {
  box-shadow: 0 0 0 0.25rem rgba(221, 221, 221, 0.5);
}

.bg1 {
  /* position: absolute; */

  background-image: url(../img/image1.jpg);
  background-position: center;
  background-repeat: no-repeat;

  height: 1000px;
  width: 100%;

  margin-top: -60px;

  padding: 0;

  /* z-index: 1; */
  /* top: 0; */
  /* left: 0; */
}

.pernikahan {
  /* position: relative; */
  margin-top: 35%;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
}

.pernikahan h1 {
  font-size: 80px;
}

.pernikahan h4,
p {
  font-size: 22px;
}

.bgputih {
  margin-top: -850px;
}

section.quote {
  margin-top: -200px;
}

.kata p {
  margin-top: -20px;
  font-size: 18px;
}

.bg2 {
  background-color: #986955;
  margin-top: -1px;
}

.sangmempelai {
  margin-top: -530px;
  font-size: 60px;
}

.mempelai {
  margin-top: -450px;
}

.mempelai h2 {
  font-size: 65px;
}

.bagiannita {
  margin-top: -540px;
  /* margin-bottom: 500px; */
}

.lengkunganbawah {
  margin-top: -1px;
}

.bagiannita h2 {
  font-size: 65px;
}

img.img-mempelai {
  border-radius: 1000px;
  filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.3));
}

section.acara {
  /* position: absolute; */

  background-image: url(../img/image2.jpg);
  background-position: center;
  background-repeat: no-repeat;

  width: 100%;
  /* max-width: 1440px; */

  height: 100%;
  height: auto;

  margin-top: -120px;

  /* z-index: -1; */
}

section.acara .isi-acara {
  background-color: rgba(0, 0, 0, 0.5);
  background-position: center;

  border-radius: 30px;

  margin-top: 480px;
  padding-top: 50px;
}

.isi-acara h2 {
  font-size: 80px;
}

.garisturun {
  width: 5px;
  height: 100px;
  border-radius: 10px;
  background-color: white;
  margin: 0px auto;
}

hr.garissamping {
  height: 5px;
  background-color: white !important;
  opacity: 1 !important;
  border-radius: 10px !important;
}

.acaranikah {
  line-height: 25px;
}

section.reservasi {
  color: #986955;
}

section.reservasi hr.garissamping {
  background-color: #986955 !important;
  height: 2px;
}

section.reservasi img {
  width: 150px;
  color: #986955;
}

section.reservasi h1 {
  font-size: 80px;
}

section.reservasi h2 {
  font-size: 65px;
}

section.gallery .ourgallery {
  margin-top: -450px;
}

section.gallery .ourgallery h1 {
  font-size: 80px;
}

section.gallery .ourgallery hr.garissamping {
  width: 140px;
  height: 2px;
  margin: auto;
}

section.gallery .bggallery {
  background-color: #986955;
  padding-bottom: 400px;
}

section.gallery .bggallery img {
  border-radius: 1000px;
  filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.3));
}

section.gallery .imggallery {
  margin-top: -120px;
}

section.gallery .imglengkung img {
  margin-top: -1050px;
  border-radius: 1000px;
  filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.3));
}

section.terimakasih {
  color: #986955;
}

section.terimakasih h1 {
  font-size: 80px;
}

section.terimakasih hr.garissamping {
  background-color: #986955 !important;
  height: 2px;
}

section.terimakasih .sampaijumpa {
  margin-top: -850px;
}

.bg3 {
  background-image: url(../img/image3.jpg);

  background-position: center;
  background-repeat: no-repeat;

  height: 100%;
  width: 100%;

  min-height: 1150px;

  padding: 0;

  margin-top: -800px;
}

/* responsive */
@media (max-width: 500px) {
  .pernikahan {
    margin-top: 500px;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
  }

  .pernikahan h1 {
    font-size: 70px !important;
  }

  .pernikahan h4,
  p {
    font-size: 18px !important;
  }

  .garissamping {
    width: 300px;
    height: 10px;
    border-radius: 10px;
    background-color: red;
    margin: 0px auto;
  }

  .bgputih {
    margin-top: -300px !important;
  }

  section.quote {
    margin-top: -100px !important;
  }

  section.quote p {
    font-size: 16px !important;
  }

  .bg2 {
    background-color: #986955;
    padding-bottom: 250px;
    margin-top: -1px;
  }

  .sangmempelai {
    margin-top: -100px !important;
    font-size: 50px !important;
  }

  .mempelai {
    margin-top: -0px !important;
  }

  .bagiannita {
    margin-top: -330px !important;
    padding: 0px 20px;
  }

  .lengkunganbawah {
    margin-top: -55px;
  }

  section.acara {
    margin-top: -50px;
  }

  section.acara .isi-acara {
    border-radius: 0;
    margin-top: 200px;
  }

  section.acara .isi-acara h3 {
    font-size: 20px !important;
  }

  section.acara .isi-acara p {
    font-size: 16px !important;
  }

  section.reservasi h1,
  h2 {
    font-size: 50px !important;
  }

  section.reservasi h3 {
    font-size: 20px;
  }

  section.reservasi p {
    font-size: 16px !important;
  }

  section.gallery .ourgallery {
    margin-top: -80px;
  }

  section.gallery .ourgallery h1 {
    font-size: 45px;
  }

  section.gallery p {
    font-size: 16px !important;
  }

  section.gallery .bggallery {
    background-color: #986955;
    padding-bottom: 500px;
    margin-top: -210px;
  }

  section.gallery .imggallery {
    margin-top: 250px;
  }

  section.gallery .imglengkung img {
    margin-top: -780px;
    border-radius: 1000px;
  }

  section.gallery .lengkunganbawah {
    margin-top: -1px;
  }

  section.terimakasih h1 {
    font-size: 50px;
  }

  section.terimakasih p {
    font-size: 16px !important;
  }

  section.terimakasih h1.sampaijumpa {
    font-size: 50px;
  }

  section.terimakasih img {
    margin-top: 70px;
  }

  section.terimakasih .sampaijumpa {
    margin-top: -315px;
  }

  .bg3 {
    margin-top: -200px;
  }
}

@media (min-width: 768px) and (max-width: 900px) {
  .pernikahan {
    margin-top: 600px;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
  }

  .pernikahan h1 {
    font-size: 90px !important;
  }

  .pernikahan h4,
  p {
    font-size: 22px !important;
  }

  .garissamping {
    width: 300px;
    height: 10px;
    border-radius: 10px;
    background-color: red;
    margin: 0px auto;
  }

  .bgputih {
    margin-top: -520px !important;
  }

  section.quote {
    margin-top: -150px !important;
  }

  .bg2 {
    background-color: #986955;
    padding-bottom: 100px;
    margin-top: -1px;
  }

  .sangmempelai {
    margin-top: -260px !important;
    font-size: 60px !important;
  }

  .mempelai {
    margin-top: -100px !important;
  }

  .bagiannita {
    margin-top: -380px !important;
    padding: 0px 20px;
  }

  .lengkunganbawah {
    margin-top: -2px;
  }

  section.acara {
    margin-top: -110px;
  }

  section.acara .isi-acara {
    margin-top: 300px;
  }

  section.gallery .ourgallery {
    margin-top: -150px;
  }

  section.gallery .ourgallery h1 {
    font-size: 80px;
    margin-top: -50px;
  }

  section.gallery .bggallery {
    background-color: #986955;
    padding-bottom: 670px;
    margin-top: -210px;
  }

  section.gallery .imggallery {
    margin-top: 250px;
  }

  section.gallery .imglengkung img {
    margin-top: -1080px;
    border-radius: 1000px;
  }

  section.gallery .lengkunganbawah {
    margin-top: -1px;
  }

  section.terimakasih h1 {
    font-size: 70px;
  }

  section.terimakasih img {
    margin-top: 80px;
  }

  section.terimakasih .sampaijumpa {
    margin-top: -550px;
  }

  .bg3 {
    margin-top: -400px;
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .pernikahan {
    padding-top: 200px;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
  }

  .pernikahan h1 {
    font-size: 90px !important;
  }

  .pernikahan h4,
  p {
    font-size: 22px !important;
  }

  .garissamping {
    width: 300px;
    height: 10px;
    border-radius: 10px;
    background-color: red;
    margin: 0px auto;
  }

  .bgputih {
    margin-top: -700px !important;
  }

  section.quote {
    margin-top: -150px !important;
  }

  .bg2 {
    background-color: #986955;
    padding-bottom: 100px;
    margin-top: -2px;
  }

  .sangmempelai {
    margin-top: -400px !important;
    font-size: 60px !important;
  }

  .mempelai {
    margin-top: -250px !important;
  }

  .bagiannita {
    margin-top: -570px !important;
    padding: 0px 20px;
  }

  .lengkunganbawah {
    margin-top: -2px;
  }

  section.acara {
    margin-top: -100px;
  }

  section.acara .isi-acara {
    margin-top: 500px;
  }

  section.gallery .ourgallery {
    margin-top: -150px;
  }

  section.gallery .ourgallery h1 {
    font-size: 80px;
    margin-top: -100px;
  }

  section.gallery .bggallery {
    background-color: #986955;
    padding-bottom: 470px;
    margin-top: -210px;
  }

  section.gallery .imggallery {
    margin-top: 250px;
  }

  section.gallery .imglengkung img {
    margin-top: -1080px;
    border-radius: 1000px;
  }

  section.gallery .lengkunganbawah {
    margin-top: -1px;
  }

  section.terimakasih h1 {
    font-size: 80px;
  }

  section.terimakasih img {
    margin-top: 80px;
  }

  section.terimakasih .sampaijumpa {
    margin-top: -800px;
  }

  .bg3 {
    margin-top: -650px;
  }
}
